<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mymodal" >SignUp</button>
<div class="modal fade" id="mymodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a data-bs-dismiss="modal" class="btn-close"></a>
            </div>
           <form height="300">
            <div class="form-group">
                <label class="form-label">User Name</label>
                <input class="form-control" type="text" required style="width:300px;">
            </div>
            <div class="form-group">
                <label class="form-label">Password</label>
                <input class="form-control" type="password" required style="width:300px;">
            </div>
            <div class="form-group">
                <label class="form-label">Ph Number</label>
                <input class="form-control" type="text" required style="width:300px;">
            </div>
            <div class="form-group">
                <label class="form-label">Email</label>
                <input class="form-control" type="email" required style="width:300px;">
            </div>
            <div class="model-footer">
                <button class="btn btn-primary" >Register</button>
                <button class="btn btn-danger">Cancel</button>
            </div> 
           </form>

        </div>
    </div>
</div>
  


 